.container{
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.product-buy{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  outline: none;
  height: 45px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0 2rem;
  transition: .3s;
}

.product-buy.active{
  background-color: black;
  cursor: pointer;
}

.product-buy.active:hover{
  background-color: #222222;
  color: #fff;
}

.product-buy.inactive{
  background-color: #464646;
}




